<div class="trafficNorth trafficlight">
  <div class="red  trafficlighColor"></div>
  <div class="yellow  trafficlighColor"></div>
  <div class="green  trafficlighColor"></div>
</div>

<div class="trafficSouth trafficlight">
  <div class="red  trafficlighColor"></div>
  <div class="yellow  trafficlighColor"></div>
  <div class="green  trafficlighColor"></div>
</div>

<div class="trafficEast trafficlight">
  <div class="red  trafficlighColor"></div>
  <div class="yellow  trafficlighColor"></div>
  <div class="green  trafficlighColor"></div>
</div>

<div class="trafficWest trafficlight">
  <div class="red   trafficlighColor"></div>
  <div class="yellow  trafficlighColor"></div>
  <div class="green  trafficlighColor"></div>
</div>