<div class="buttonLayout">
  <button (click)="startNS()">Start NS</button>
  <button (click)="startEW()">Start EW</button>
  <button (click)="manual()">Manual</button>
  <button (click)="stopAll()">Stop All</button>
</div>

<h1 class="n">N</h1>
<div class="trafficNorth trafficlight">
  
  <div class="red  trafficlighColor" [style.background-color] = "signalState.north == 0 ? 'red': 'black'"></div>
  <div class="yellow  trafficlighColor" [style.background-color] = "signalState.north == 1 ? 'yellow': 'black'"></div>
  <div class="green  trafficlighColor" [style.background-color] = "signalState.north == 2 ? 'green': 'black'"></div>
</div>

<h1 class="s">S</h1>
<div class="trafficSouth trafficlight">
  <div class="red  trafficlighColor" [style.background-color] = "signalState.south == 0 ? 'red': 'black'"></div>
  <div class="yellow  trafficlighColor" [style.background-color] = "signalState.south == 1 ? 'yellow': 'black'"></div>
  <div class="green  trafficlighColor" [style.background-color] = "signalState.south == 2 ? 'green': 'black'"></div>
</div>

<h1 class="e">E</h1>
<div class="trafficEast trafficlight">
  <div class="red  trafficlighColor" [style.background-color] = "signalState.east == 0 ? 'red': 'black'"></div>
  <div class="yellow  trafficlighColor" [style.background-color] = "signalState.east == 1 ? 'yellow': 'black'"></div>
  <div class="green  trafficlighColor" [style.background-color] = "signalState.east == 2 ? 'green': 'black'"></div>
</div>

<h1 class="w">W</h1>
<div class="trafficWest trafficlight">
  <div class="red   trafficlighColor" [style.background-color] = "signalState.west == 0 ? 'red': 'black'"></div>
  <div class="yellow  trafficlighColor" [style.background-color] = "signalState.west == 1 ? 'yellow': 'black'"></div>
  <div class="green  trafficlighColor" [style.background-color] = "signalState.west == 2 ? 'green': 'black'"></div>
</div>